
body {
  background-color: #ff7f50;
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.banner {
  background-color: #d3d3d3;
}

h1, h2 {
  display: inline-block;
}

.other-container{
  display: flex;
  justify-content: space-evenly;
  column-count: 3;
  column-width: 125px;
  column-gap: 15px;

}

.data-container1 {
  break-inside: avoid;
  page-break-inside: avoid;
  text-align: left;
}
.data-container2, .data-container3 {
  break-inside: avoid;
  page-break-inside: avoid;
  text-align: center;
}
.data-container2 {
  padding-top: 25px;
}

#country-select {
  
  margin:0 auto;
}
.other-countries {
  text-align: center;
  width: 350px;
  /* max-width: 300px; */
  padding-top: 0px 20px 0px 20px;


}

footer {
  background-color: #d3d3d3;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 480px) {
  .other-container {
    flex-direction: column;
  }

  }

  /* .container {
  display: flex;
  justify-content: space-evenly;
  column-count: 2;
  column-width: 250px;
  column-gap: 25px;
}

.column {
  break-inside: avoid;
  page-break-inside: avoid;
  text-align: center;
  
} */
