
body {
  background-color: #ff7f50;

  font-family: 'Roboto', sans-serif;
}

.banner {
  background-color: #d3d3d3;
}

h1, h2 {
  display: inline-block;
}

.other-container{
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  column-count: 3;
  column-width: 125px;
  padding-bottom: 20px;

}

.data-container1 {
  break-inside: avoid;
  page-break-inside: avoid;
  text-align: left;
}
.data-container2 {
  break-inside: avoid;
  page-break-inside: avoid;
  text-align: center;
  
}
.data-container2 {
  padding-top: 25px;
}

.data-container3 {
  text-align: right;
}
.other-countries {
  text-align: center;
  width: 350px;
  padding-top: 0px 20px 0px 20px;
}

footer {
  background-color: #d3d3d3;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 480px) {
  .other-container {
    flex-direction: column;
    font-size: 10px;
  }
  .data-container2 {
    order: 1;
  }

  .data-container1 {
    order: 2;
  }

  .data-container3 {
    order: 3;
  }

}


  
